<div class="contenedor">
  <div class="card mb-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{ detalles.image }}"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ detalles.name }}</h5>
          <p class="card-text">
            Status: {{ detalles.status }}<br />
            Species: {{ detalles.species }}<br />
            Gender: {{ detalles.gender }}<br />
            Origin: {{ detalles.origin }}<br />
            Location: {{ detalles.location }}<br />
            Id Code: {{ detalles.id }}
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
          <button
            class="btn btn-warning mr-2 delete"
            (click)="deleteCharacter()"
          >
            Delete
          </button>
          <button
            *ngIf="detalles.status == 'Alive'"
            class="btn btn-light mr-2 update"
            (click)="updateStatus('Dead')"
          >
            Dead
          </button>
          <button
            *ngIf="detalles.status == 'Dead'"
            class="btn btn-light mr-2 update"
            (click)="updateStatus('Alive')"
          >
            Alive
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
