.contenedor {
  margin-top: 80px;
  margin-right: 100px;
  margin-left: 100px;
}

.delete {
  background-color: red;
  border: none;
  border-radius: 5%;
  color: white;
}

.update {
  background-color: rgb(255, 193, 77);
  color: black;
}
